.pagination {
    display: flex;
    list-style: none;
    font-size: large;
    margin-top: 20px;
    margin-bottom: 50px;
    padding-left: 0px;
    max-width: 250px;
}

.pagination li {
    margin-top: 10px;
    width: 15%;
}

.pagination>li>a {
    shape-outside: circle();
    clip-path: circle();
    padding: 5px 14px;
    cursor: pointer;
    margin-right: 5px;
}

.pagination>li>a:hover{
    background-color:rgb(238, 235, 235);
    box-shadow: 10px 10px 5px #aaaaaa;
}

.pagination>.active>a{
    background-color: var(--color2);
    color: white;
}

.pagination>.active>a:hover{
    background-color: var(--color2);
    color: white;
    box-shadow: none;
    cursor: auto;
}
@media only screen and (max-width: 571px) {
    .pagination li{
        font-size: 16px;
    }
  }