.buttonCancelStyle {
  background-color: white;
  padding: 15px;
  border-radius: 5px;
  font-size: large;
  cursor: pointer;
  border: none;
  margin-right: 50px;
  box-shadow: var(--box-shadow);
}

.buttonCancelStyle:hover {
  box-shadow: var(--box-shadow-hover);
  background-color: var(--color5);
  color: white;
}
.container {
  display: inline-block;
}

@media only screen and (max-width: 675px) {
  .container {
    display: flex;
    justify-content: center;
  }
  .buttonCancelStyle {
   width: 100%;
   font-size: smaller;
   margin-bottom: 1%;
  }
}