.input-group {
  position: relative;
  margin-top: 2em;
  margin-bottom: 2em;
  display: flex;
}

.inputSee {
  padding: 10px;
  border: none;
  border-radius: 4px;
  color: rgb(27, 4, 4);
  outline: 2px solid rgb(27, 6, 6);
  width: 97%;
}

.inputSee:hover, .textArea:hover {
  box-shadow: 5px 5px 8px 1px #888888;
}

.input-label {
  position: absolute;
  top: 0;
  left: 0;
  transform: translate(19px, 10px);
  transition: transform 0.25s;
  pointer-events: none;
}

.inputSee:focus + .input-label,
.inputSee:valid + .input-label,
.textArea:focus +.input-label,
.textArea:valid + .input-label {
  transform: translate(10px, -12px) scale(0.8);
  color: var(--color2);
  padding-inline: 5px;
  background-color: #fff;
}

.inputSee:is(:focus, :valid) {
  outline-color: var(--color3);
}

@media only screen and (max-width: 700px) {
  .inputSee:focus + .input-label,
  .inputSee:valid + .input-label {
    transform: translate(5px, -10px) scale(0.8);
  }
  .input-group {
    margin-top: 1em;
    margin-bottom: 1em;
  }
  .input-label {
    font-size: smaller;
  }
}