.information {
    margin-left: 60px;
}

.information h1 {
    margin-left: 0px;
    margin-right: 0px;
}

.dataContainer {
    position: relative;
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    max-width: 1080px;
}

.informationSpinner {
    margin-top: 100px;
}

.informationSpinner2 {
    position: absolute;
    top: 100px;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
}

.informationSpinner img,
.informationSpinner2 img {
    max-width: 100px;
}

.AlertsInformation {
    display: flex;
    justify-content: flex-end;
    width: 100%;
    top: -130px;
    right: -30px;
    z-index: 10;
}

.informationInputs {
    display: grid;
    grid-template-columns: auto auto;
    width: 100%;
}

#email, #facebook{
    margin-right: 30px;
}

.textArea {
    padding: 10px;
    border: none;
    border-radius: 4px;
    color: rgb(27, 4, 4);
    outline: 2px solid rgb(27, 6, 6);
    width: 100%;
}

@media only screen and (max-width: 1200px) {
    .dataContainer {
        margin-left: 30px;
        margin-right: 30px;
    }
}

@media only screen and (max-width: 650px) {
    .informationInputs {
        display: grid;
        grid-template-columns: auto ;
        width: 100%;
    }

    #email, #facebook{
        margin-right: 0px;
    }
}

@media only screen and (max-width: 400px) {
    .dataContainer {
        margin-left: 15px;
        margin-right: 15px;
    }
}
@media only screen and (max-width: 700px) {
    .information {
        margin-left:0 ;
    }
    
}