.buttonStyle {
  background-color: var(--color3);
  color: white;
  padding: 15px;
  border-radius: 5px;
  font-size: large;
  cursor: pointer;
  border: none;
  box-shadow: var(--box-shadow);
}

.buttonStyle:hover {
  box-shadow: var(--box-shadow-hover);
}

@media only screen and (max-width: 675px) {
  .buttonStyle{
    width: 100%;
    margin-top: 10px;
    font-size: smaller;
  }
}