@import url(//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css);
@import url(https://fonts.googleapis.com/css?family=Titillium+Web:300);

:root {
  --menu-close-color: #212121;
  --menu-open-color: #212121;
  --menu-icon-color: white;
  --menu-hover-color: #b22d2d;
  --menu-letter-color: white;
}

.fa-2x {
  font-size: 2em;
}

.fa {
  position: relative;
  display: table-cell;
  width: 60px;
  height: 36px;
  text-align: center;
  vertical-align: middle;
  font-size: 25px;
  color: white;
}

.main-menu:hover,
nav.main-menu.expanded {
  box-shadow: var(--box-shadow-hover);
  width: 270px;
  overflow: visible;
  background-color: var(--color2);
}

.expanded-Mobile {
  box-shadow: var(--box-shadow-hover);
  width: 270px;
  overflow: visible;
  background-color: var(--color2);
}

.main-menu {
  box-shadow: var(--box-shadow-hover);
  background: var(--color2);
  position: fixed;
  top: 0;
  bottom: 0;
  height: 100%;
  left: 0;
  width: 60px;
  overflow: hidden;
  -webkit-transition: width 0.05s linear;
  transition: width 0.08s linear;
  -webkit-transform: translateZ(0) scale(1, 1);
  z-index: 1000;
}

.main-menu-mobile {
  box-shadow: var(--box-shadow-hover);
  background: var(--color2);
  position: fixed;
  top: 0;
  bottom: 0;
  height: 100%;
  left: 0;
  width: 270px;
  overflow: visible;
  -webkit-transition: width 0.05s linear;
  transition: width 0.08s linear;
  -webkit-transform: translateZ(0) scale(1, 1);
  z-index: 2000;
  animation-name: fade;
  animation-duration: 0.5s;
}
.main-menu-mobile li {
  position: relative;
  display: block;
  width: 250px;
  padding-top: 20px;
  padding-bottom: 20px;
}

.main-menu li {
  position: relative;
  display: block;
  width: 250px;
  padding-top: 20px;
  padding-bottom: 20px;
}

.main-menu-mobile li:visited {
  background-color: var(--color3);
  text-align: center;
  border-radius: 5px;
  transform: scale(1.1);
  padding-left: 8px;
  transition: 0.5s;
}
.main-menu li:hover {
  background-color: var(--color);
  text-align: center;
  border-radius: 5px;
  transform: scale(1.1);
  padding-left: 8px;
  transition: 0.5s;
}

.link {
  color: white;
  text-decoration: none;
  display: block;
  position: absolute;
  top: 8px;
  left: 0;
  width: 210px;
  height: 60px;
  padding-top: 20px;
  text-align: justify;
  padding-left: 60px;
}

.nav-text {
  position: relative;
  display: table-cell;
  vertical-align: middle;
  width: 190px;
  text-align: left;
  padding-left: 10px;
  color: white;
}

.main-menu-mobile .nav-text {
  position: relative;
  display: table-cell;
  vertical-align: middle;
  width: 190px;
  text-align: left;
  padding-left: 10px;
}

.main-menu > ul.logout {
  position: absolute;
  left: 0;
  bottom: 0;
  color: white;
}

.main-menu-mobile > ul.logout {
  position: absolute;
  left: 0;
  bottom: 0;
  color: white;
}

.no-touch .scrollable.hover {
  overflow-y: hidden;
}

.no-touch .scrollable.hover:hover {
  overflow-y: auto;
  overflow: visible;
}

nav ul,
nav li {
  outline: 0;
  margin: 0;
  padding: 0;
  cursor: pointer;
}

.burgerButton {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: transparent;
  margin-top: 10px;
}

.fatherBurger {
  position: fixed;
  height: 100%;
  background-color: var(--color2);
  top: 0;
  padding: 3px;
  width: 53px;
  z-index: 2;
  padding-top: 5px;
}

.bar {
  height: 10px;
  width: 90%;
  background-color: black;
  border-radius: 10px;
}

.barTop {
  margin-bottom: 5px;
}

.barCenter {
  margin-bottom: 5px;
}

.main-menu-closed {
  display: none;
}

nav ul {
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: space-between;
}

.transparent {
  width: 100%;
  height: 100%;
  z-index: -1;
  position: fixed;
  top: 0;
  background-color: transparent;
}

@media only screen and (max-width: 700px) {
  .main-menu {
    display: none;
  }
  .fatherBurger .fa-bars {
    color: black;
  }

  .fa-xmarkMe {
    position: absolute;
    top: 10px;
    left: 240px;
    color: rgb(246, 246, 246);
    font-size: 1.4rem;
    z-index: 5;
    background-color: none;
  }

  .fatherBurger {
    background-color: transparent;
    height: 5%;
  }

  nav ul {
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: space-between;
  }
}

@keyframes fade {
  0% {
    transform: translateX(-80%);
  }

  100% {
    transform: translateX(0%);
  }
}