@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;700&display=swap");

:root {
  --color: #5757577e;
}

.modal__alt {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: rgba(3, 3, 3, 0.8);
  display: flex;
  opacity: 0;
  pointer-events: none;
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: rgba(3, 3, 3, 0.8);
  display: flex;
  opacity: 1;
  pointer-events: unset;
  z-index: 3;
}

.modal__container {
  margin: auto;
  background-color: #fff;
  width: 90%;
  max-width: 600px;
  max-height: 90%;
  overflow: hidden;
  text-align: center;
  padding: 2.5em 1.5em;
  border-radius: 1em;
  position: relative;
}

.modal__close {
  display: inline-block;
  border: 1px solid;
  padding: 1em 2em;
  text-decoration: none;
  font-weight: 700;
  color: #333;
}

.modal__close__x {
  display: inline-block;
  border: none;
  font-size: x-large;
  padding: 5px 0 5px 0;
  color: var(--color3);
  border-radius: 5px;
  background-color: transparent;
  width: 40px;
  position: absolute;
  right: 0.2em;
  top: 0.2em;
  cursor: pointer;
}

.modal__close__x:hover {
  transform: scale(1.5);
  color: var(--color5);
}

.modal__container {
  animation: show 0.5s;
}

@keyframes show {
  0% {
    transform: translateY(-150vh);
  }
}

 @media only screen and (max-width: 960px) {
  .modal__container {
    margin-left: 25%;
    margin-right: 25%;
  }
} 
@media only screen and (max-width: 571px) {
  .modal__container {
    margin-left: 20px;
    margin-right: 20px;
  }
} 

@media only screen and (max-width: 500px) {
  .modal__container h1 {
    font-size: large;
    margin-top: 20px;
  }
}