:root {
    --padding-top-botton: 15px;
}

.table {
    overflow-x: auto;
}

table {
    margin-top: 50px;
    border-collapse: collapse;
    width: 100%;
    font-size: large;
    box-shadow: var(--box-shadow);
}

thead {
    background-color: var(--color3);
    color: white;
}

thead th {
    border-bottom: none;
}

th,
td {
    border-bottom: 1.5px solid var(--color4);
    padding-top: var(--padding-top-botton);
    padding-bottom: var(--padding-top-botton);
    padding-left: 20px;
    max-width: 300px;
}

tbody tr:hover {
    background-color: var(--color4);
}

.iconsLink {
    margin-right: 10px;
    margin-left: 10px;
    background: transparent;
    border: none;
    cursor: pointer;
}

.iconsLink:hover {

    transform: scale(1.5);
}

tr .icons {
    min-width: 200px;
    max-width: 200px;
}

@media only screen and (max-width: 1080px) {
    table {
        font-size: medium;
    }

    tr .icons {
        min-width: 150px;
        max-width: 150px;
    }
}

@media only screen and (max-width: 900px) {
    table {
        font-size: small;
    }

    tr .icons {
        min-width: 100px;
        max-width: 100px;
    }

    .iconsLink {
        margin-right: 5px;
        margin-left: 5px;
    }
}

@media only screen and (max-width: 700px) {
    .colunm1, .colunm2{
        max-width: 200px;
        min-width: 200px;
    }
}