.upload_image {
  display: flex;
  margin-bottom: 25px;
}

.upload_button {
  background-color: var(--color3);
  color: white;
  padding: 15px;
  border-radius: 5px;
  font-size: large;
  cursor: pointer;
  border: none;
  box-shadow: var(--box-shadow);
}

.upload_button:hover {
  box-shadow: var(--box-shadow-hover);
}

.image_container img {
  width: 80px;
  height: 80px;
  padding-left: 20px;
  object-fit: cover;
}

.upload_button span {
  margin-left: 10px;
}
div {
  position: relative;
}
.modal_close_x {
  display: inline-block;
  position: absolute;
  font-size: medium;
  border: none;
  padding: 0;
  background-color: rgba(255, 0, 0, 0.317);
  color: white;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  margin-left: 70px;
  margin-top: -10px;
  cursor: pointer;
  right: -8px;
}

.modal_close_x:hover {
  background-color: red;
  transform: scale(1.2);
}

.image_container {
  display: flex;
  max-height: 600px;
  overflow-x: auto;
  padding-top: 15px;
  margin-bottom: 25px;

}

@media only screen and (max-width: 644px) {
  .upload_button {
    width: 100%;
    font-size: smaller;
  }
}