.Alerts {
    display: flex;
    width: 100%;
    justify-content: flex-end;
    top: -10px;
    z-index: 10;
}

.AlertsModal {
    display: flex;
    width: 100%;
    justify-content: flex-end;
    width: 100%;
    top: -130px;
    z-index: 10;
}

.notificationModal {
    position: relative;
    max-width: 300px;
    padding: 0 30px  0 30px;
    border-radius: 4px;
    color: #f6f5f9;
    box-shadow: 0 1px 10px rgba(0, 0, 0.1);
    animation-name: fadeNoti;
    animation-duration: 1s;
    font-size: 80%;
}

.notificationModal p{
    margin-top: 10px;
}
.notification {
    position: absolute;
    max-width: 300px;
    padding: 1% 1%;
    border-radius: 4px;
    color: #f6f5f9;
    box-shadow: 0 1px 10px rgba(0, 0, 0.1);
    animation: fadePrincipal 4s linear forwards;
    margin-right: 20px;
    font-size: 80%;
    top: -40px;
}

.progress {
    position: absolute;
    left: 5px;
    bottom: 5px;
    width: 0;
    height: 3px;
    background-color: #141619;
    border-radius: 4px;
    animation: progress 3s .25s linear forwards;
}

.close-button {
    position: absolute;
    top: 1%;
    right: 1%;
    background-color: transparent;
    color: #f6f5f9;
    border: #141619;
    cursor: pointer;
}

.close-button:hover {
    background-color: transparent;
    transform: scale(1.3);
}

@keyframes fadeNoti {

    0%{
        opacity: 1 ;
        visibility: visible;
        transform: translateX(100%);
    }
 
    100%{
        transform: translateX(0%);
    }
 
    
 }
 
@keyframes fadePrincipal {
    5% {
        opacity: 1;
        visibility: visible;
        transform: translateY(0px);
    }

    90% {
        opacity: 1;
        transform: translateY(0px);
    }

    95% {
        opacity: 0;
    }

    100% {
        opacity: 0;
        transform: translateY(-30px);
    }
}
@keyframes progress {
    to {
        width: calc(100% - 10px);
    }
}

@media only screen and (max-width: 444px) {
    
}

