@media only screen and (max-width: 1660px) {
    .cardContainer {
        grid-template-columns: auto auto auto auto;
    }
}

@media only screen and (max-width: 1360px) {
    .cardContainer {
        grid-template-columns: auto auto auto;
    }
}

@media only screen and (max-width: 1060px) {
    .cardContainer {
        margin-left: 70px;
        margin-right: 10px;
    }
}

@media only screen and (max-width: 960px) {
    .cardContainer {
        grid-template-columns: auto auto;
    }
}

@media only screen and (max-width: 700px) {
    .cardContainer {
        grid-template-columns: auto;
        margin-left: 10px;
    }
}

@media only screen and (max-width: 374px) {

    .card,
    .cardUpload {
        width: 200px;
        height: 200px;
    }

    .iconCard,
    .iconCardUpload {
        font-size: 25px;
    }
}

@media only screen and (max-width: 315px) {

    .card,
    .cardUpload {
        width: 150px;
        height: 150px;
    }

    .iconCard,
    .iconCardUpload {
        font-size: 15px;
    }
}