.cardContainer {
  display: grid;
  grid-template-columns: auto auto auto auto auto;
  margin-right: 40px;
  margin-left: 100px;
  margin-top: 0;
  text-align: center;
  margin-bottom: 50px;
}

.cardUpload {
  background-color: rgba(0, 0, 0, 0.877);
  border-radius: 10%;
  cursor: pointer;
}

.cardUpload:hover,
.card:hover {
  transform: scale(1.2);
  transition: 0.5s;
}

.card,
.cardUpload {
  width: 250px;
  height: 250px;
  margin: 30px auto;
  position: relative;
}

.card:hover:after {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.7);
  border-radius: 10%;
}

.imageCard {
  box-shadow: 1px 1px 4px black;
  box-shadow: var(--box-shadow-hover);
  transition: 0.4s;
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10%;
}

.card:hover .buttonsCard {
  opacity: 1;
  z-index: 2;
}

.buttonsCard,
.buttonsCardUpload {
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}

.buttonsCardUpload {
  opacity: 1;
}

.buttonsCard button,
.cardUpload button {
  background-color: transparent;
  border: none;
  margin-left: 10px;
  cursor: pointer;
}

.iconCard,
.iconCardUpload {
  font-size: 40px;
}

.iconCard:hover {
  transform: scale(1.5);
  transition: 0.4s;
}

.iconCardUpload {
  width: 70%;
}

.emptyCollection{
  margin-top: 120px;
  text-align: center;
}

.spinner{
  margin-top: 80px;
}

.spinner img{
  max-width: 150px;
}

@media only screen and (max-width: 450px) {
  .emptyCollection{
    font-size: small;
  }
}