.bodyModal {
  margin-bottom: 2em;
}

.bodyModal img {
  max-width: 300px;
  max-height: 300px;
}
@media only screen and (max-width: 700px) {
  .bodyModal img {
    max-width: 15rem;
    max-height: 15rem;
  }
}

@media only screen and (max-width: 470px) {
  .bodyModal img {
    max-width: 11rem;
    max-height: 11rem;
  }
}
@media only screen and (max-width: 350px) {
  .bodyModal img {
    max-width: 8rem;
    max-height: 8rem;
  }
}
