.tableContainer {
  margin-left: 15%;
  margin-right: 10%;
}

.formContainer {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  margin-top: 50px;
}

.formContainer Form {
  margin-left: 10%;
  text-align: right;
}

.formContainer Button {
  width: 400px;
}

.tableSpinner{
  margin-top: 80px;
}

.tableSpinner img{
  max-width: 100px;
}

.title{
  margin: 0;
}
@media only screen and (max-width: 1079px) {
  .formContainer {
    display: block;
    text-align: left;
  }

  .formContainer Form {
    text-align: left;
    margin-top: 20px;
    margin-left: 0px;
    width: 100%;
  }

  .formContainer Button {
    width: 100%;
  }
}

@media only screen and (max-width: 700px) {
  .tableContainer {
    margin-left: 20px;
    margin-right: 20px;
  }
}
@media only screen and (max-width: 340px) {
  .formContainer Button{
    font-size: small;
  }
}