.login{
    background-color: var(--color2);
    color: var(--color4);
    padding: 10px 20px;
    display: flex;
    text-align: center;
    align-items: center;
    margin: auto;
    border-radius: 10px;
    cursor: pointer;
    font-size: large;
    transition: 0.4s;
}

.login:hover{
    background-color: white;
    color: var(--color2);
    border-color: var(--color2);
}

.login img{
    width: 30px;
    margin-right: 10px;
}

.logo{
    width: 300px;
    margin-bottom: 30px;
}

.verified{
    margin: 30px auto;
    padding: 10px;
    background-color: var(--color2);
    color: var(--color4);
    border-radius: 10px;
    font-size: large;
    width: 250px;
    animation: 0.5s;
}