@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;700&display=swap');

body {
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin-top: 100px;
}

:root{
  --box-shadow: 1px 1px 5px black;
  --box-shadow-hover: 1px 1px 10px black;
  --color1: #aede67;
  --color2: #3d3d3d;
  --color3: #3d3d3d;
  --color4: rgb(231, 231, 231);
  --color5: rgb(255, 81, 81);
}

h1, h2{
  color: var(--color3);
}

.title{
  margin-left: 80px;
  margin-right: 20px;
}

@media only screen and (max-width: 450px) {
  .title{
    font-size: 1.5rem;
  }
}